html {
    background-color: rgb(163, 228, 59);
}

.container {
    position: absolute;
    top: 33%;
    left: 33%;
    font-size: 2rem;
    background-color: rgb(135, 195, 39);
    padding: 0px 100px;
    border-radius: 50px;
}